# SPDX-FileCopyrightText: 2022 Gregory Clunies <greg@reflekt-ci.com>
#
# SPDX-License-Identifier: Apache-2.0

[tool.poetry]
name = "reflekt"
version = "0.1.1"
description = "reflekt is a command-line interface (CLI) and continuous integration (CI) tool for your tracking plan."
authors = ["Greg Clunies <greg.clunies@gmail.com>"]
license = "Apache-2.0"
include = ["reflekt/templates/**/*"]

[tool.poetry.dependencies]
python = "^3.8"
click = "^8.1.2"
Cerberus = "^1.3.4"
GitPython = "^3.1.27"
funcy = "^1.17"
inflection = "^0.5.1"
loguru = "^0.6.0"
PyYAML = "^6.0"
requests = "^2.27.1"
sqlalchemy-redshift = "^0.8.9"
redshift-connector = "^2.0.905"
snowflake-sqlalchemy = "^1.3.3"

[tool.poetry.dev-dependencies]
autoflake = "^1.4"
black = "^22.3.0"
flake8 = "^4.0.1"
isort = "^5.10.1"
make = "^0.1.6"
mypy = "^0.942"
pytest = "^7.1.1"
reuse = "^0.14.0"

[tool.poetry.scripts]
reflekt = 'reflekt:cli'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 89
